.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    font-weight: 700px;
    margin: 30px;
    color: black;
    border-radius: 15px 15px 15px 15px;
    padding: 35px;
    /* gap:20px; */
    display: flex;
    /* justify-content: space-between; */
    padding: 10px;
    flex-wrap: wrap;
    /* flex-direction: row; */

}
