.header{

    height: 10%;
    /* width:calc(); */
    display: grid;
    align-items: center;
    /* margin: auto; */
    /* width: 1500px; */
    background-color: white;
    /* font-weight: 700px; */
    margin: 30px;
    color: black;
    border-radius: 10px 10px 10px 10px;
    font-weight: 700;
    font-size: 25px;
    padding-left: 1%;
}